account-element {
    display:grid;
    margin:0 auto;
    width:60%;
    height:auto;
    grid-template-columns:0.35fr 0.65fr;
    grid-template-rows: max-content;
    justify-content:center;
    align-content:center;
}

account-element #login-form {
    display:grid;
    background:var(--black);
    border:none;
    width:100%;
    margin:0;
    padding:0;
    position: relative;
}

account-element img {
    display:block;
    width:100%;
    object-fit: contain;
}