header-element {
    background: var(--black);
    height:60px;
    width:98%;
    margin:10px auto;
    box-shadow: var(--box-shadow);
    display:grid;
    justify-content: end;
    align-content: center;
    padding-right:10px;
}

header-element .menu-link {
    width:35px;
    height:35px;
    cursor:pointer;
}