home-element {
    display:grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100px 100px;
    grid-column-gap:50px;
    height:100%;
}

home-element .type-choice {
    background:var(--white);
    text-align: center;
    cursor:pointer;
    padding:15px;
    font-size:18px;
}


