@import './settings.css';
@import './header.css';
@import './home.css';
@import './account.css';

body {
    background: rgb(170,174,175);
    background: linear-gradient(354deg, rgba(170,174,175,1) 0%, rgba(202,209,210,1) 93%);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;
    display:grid;
    width:100%;
    height:100vh;
    grid-template-rows: max-content;
}