:root {
    --black:#252236;
    --black_light:#2A273E;
    --blue:#0098D2;
    --white:#D8D9DB;
    --yellow:#FFC000;
    --green:#00B534;
    --box-shadow:1px 5px 5px 1px rgba(42, 39, 62, 0.23);
  }